mixin web()
  :markdown-it
    justmejulian.github.io
    
mixin email()
  :markdown-it
    muster@mustermail.com
    
mixin phone()
  :markdown-it
    055 555 55 55
    
mixin dob()
  :markdown-it
    17 July 1994
    


mixin signature()
  img(src='./img/signature_fake.png')
