include ../private-mixins.pug

#title
  h1.header-title Julian Visser
  #contact
    .contact-item.contact-item-with-border #{dob}
    //.contact-item.contact-item-with-border
    .contact-item
        a(href=`https://${web}`) #{web}

#container    
  // Todo
  //- #date (Date)
  #date 15.08.2022

  #hiring
    // Todo
    //- .hiring-item  (Name of Hiring Mangager, Title)
    //- .hiring-item  (Name of Company)
    //- .hiring-item  (Address)
    //- .hiring-item  (City)
    .hiring-item 9T Labs
    .hiring-item Zurich, Switzerland

  // Todo     
  #greeting To Whom It May Concern
  //- #greeting Dear 
  
  #text
    include:markdown-it ./md-files/real.md
        
    #regards    
      //- :markdown-it
      //-   Freundliche Grüsse
      p Sincerely,
        
      +signature()
      
      p Julian Visser
#disclaimer Made using HTML/CSS -&nbsp;
  a(href="https://github.com/justmejulian/resume", target="_blank") Code source

style
  include:scss ./style/main.scss
