include ../private-mixins.pug
include resume-mixins.pug

#title
  h1.header-title Julian Visser
  h2.header-subtitle Computer Scientist

#photo
  img(src='./img/me_ZHAW.png')

#container

  .timeline-outercontainer
    .timeline-container
      h2.section-title Work Experience

      +timeline-item("Professional Software Developer","GARDENA digital hub Zürich","Zurich", "Jan 2025", "Present", "100%")
        :markdown-it
          - Web Development: EmberJs, Kotlin/Vert.x, Java/Spring Boot

      +timeline-item("Senior Web Developer","Energy Gruppe Schweiz","Zurich", "Sep 2022", "Dec 2024", "80%")
        :markdown-it
          - Technical Lead
          - Coaching Junior Web Developers and ensuring knowledge transfer within the team
          - Web development: Typescript, ReactJs, NextJs, NodeJs, PHP
          - Creating assessments and conducting them during the recruitment process

      +timeline-item("Full Stack Software Engineer","Open Systems","Zurich", "Aug 2019", "Nov 2021", "100%")
        :markdown-it
          - Ticketing frontend in a modern React/Redux/PostCSS stack
          - Java/Spring-based API framework, deployed on Docker Swarm
          - 3rd level Engineer in “Mission Control” operations center

      +timeline-item("Supervisor","Cambridge Assessment English","Winterthur", "Jul 2016", "Jul 2019")
        :markdown-it
          - Instruct and co-ordinate exams and exam staff
          - Train new supervisors and invigilators

      +timeline-item("Military service","Sergeant, Military Police Grenadier","Aarau, Sarnen", "2014", "2015")

      +timeline-item("Apprenticeship IT (SYS)", "Siemens Schweiz AG", "Zurich", "2011", "2014")
        :markdown-it

  .timeline-outercontainer
    .timeline-container
      h2.section-title Education

      +timeline-item("Masters's degree Computer Science", "ZHAW School of Engineering", "Winterthur", "Sep 2021", "Feb 2025")
        :markdown-it
          - Master thesis: iOS and watchOS app to measure velocity during barbell exercises

      +timeline-item("Bachelor's degree Computer Science", "ZHAW School of Engineering", "Winterthur", "Sep 2016", " Jul 2019")
        :markdown-it
          - Bachelor thesis: Full Stack JavaScript PWA using React and Node

      +timeline-item("Higher School Certificate", "Berufsmaturitätsschule BMZ", "Zurich", "2011", "2014")
        :markdown-it

      +timeline-item("Vocational school", "Technische Berufsschule TBZ", "Zurich", "2011", "2014")
        :markdown-it

#sidebar
  #sidebar-container
    #contact
      h2.section-title Personal Data
      .sidebar-item #{dob}
      <br>
      .sidebar-item #{email}
      .sidebar-item #{phone}
      <br>
      .sidebar-item Nationality:
      .sidebar-item South Africa
      .sidebar-item Switzerland

    #language
      .container
        h2.section-title Languages
        .sidebar-item English (Native)
        .sidebar-item German (Native)

    #references
      .container
        h2.section-title references
        .sidebar-item On request

#disclaimer Made using HTML/CSS -&nbsp;
  a(href="https://github.com/justmejulian/resume", target="_blank") Code source

style
  include:scss ./style/main.scss
