mixin timeline-item(title, place, address, from_date, to_date, percent)
  .timeline-item
    h3= title
      span.percent
        = percent
      span.date
        if from_date
          = from_date
        if to_date
          = " - " + to_date
    div.item-location
      if place
        span.place= place
      if address
        span.address= address
    if block
      .description
        block
