#photo {
  padding-left: $spacing-small;
  img {
    height: 47mm;
  }
}

#title {
  padding: $boarder-padding 0px;
  border-right: $stroke;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-title {
  font-weight: $light-weight;
  font-size: 35pt;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.3mm;
}

.header-subtitle {
  text-transform: uppercase;
  font-size: 12pt;
  letter-spacing: 0.2mm;
  font-weight: $extra-bold-weight;
}
