$gray: #484848;
$light-gray: #c0c0c0;

$timeline-dot-size: 3mm;
$stroke-size: 1px;
$stroke-color: rgba($light-gray, 0.5);
$stroke: $stroke-size solid $stroke-color;

$page-padding: 15mm;
$boarder-padding: 25px;
$spacing-small: $boarder-padding / 2;

$total-page-width: 210mm;
$total-page-height: 297mm;

$small-col-width: 180px;
$header-height: 40mm;
$footer-height: 3mm;

$light-weight: 100;
$regular-weight: 400;
$bold-weight: 700;
$extra-bold-weight: 800;
